<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../footer/footer.component.css"> <!-- Enlace al archivo de estilos -->
  <title>Footer con Boxicons</title>
</head>

<body>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <!-- Contenido del footer -->
          <div class="social">
            <a href="https://wa.me/1234567890" target="_blank" class="tooltipped" data-position="bottom"
              data-tooltip="WhatsApp"><i class='bx bxl-whatsapp'></i></a>
            <a href="https://www.facebook.com/tupagina" target="_blank" class="tooltipped" data-position="bottom"
              data-tooltip="Facebook"><i class='bx bxl-facebook'></i></a>
            <a href="https://www.instagram.com/tupagina" target="_blank" class="tooltipped" data-position="bottom"
              data-tooltip="Instagram"><i class='bx bxl-instagram'></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
