/* Ajuste de márgenes y padding para mejorar la visibilidad en móviles */
.container {
    margin-top: 50px; /* Separación de productos de la barra de navegación */
}

/* Estilos de la barra de navegación */
nav {
    background-color: #43797a;
    height: 100px;
    line-height: 100px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.brand-logo {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Castellar', sans-serif;
}

.logo-img {
    max-height: 120%; /* Ajusta este valor según tus necesidades */
    max-width: 130px;
    margin-right: 3px;
}

.right {
    height: 100%;
    margin-right: 15px; /* Ajusta este valor según tus necesidades */
    display: flex;
    align-items: center;
}

/* Ajuste para el menú hamburguesa en pantallas pequeñas */
@media only screen and (max-width: 992px) {
    .right {
        display: none;
    }

    .sidenav-trigger {
        display: block;
    }
}

/* Estilos para el modal de ayuda */
#ayudaButton {
    margin-top: 10px; /* Ajusta este valor para bajar el icono de ayuda */
    display: flex;
    margin-right: -16px;
    align-items: center;
    margin-left: -68px;
}

/* Estilo para las tarjetas de productos */
.card {
    width: 100%;
    height: 100%;
    max-width: 250px; /* Limita el ancho de las tarjetas */
    margin: 10px; /* Añadimos espacio entre las tarjetas */
    display: flex;
    flex-direction: column; /* Asegura que los elementos dentro de la tarjeta se apilen verticalmente */
}

/* Ajuste para el nombre del producto */
.card-title {
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    overflow: hidden; /* Oculta el texto que sobresalga */
    text-overflow: ellipsis; /* Muestra "..." si el texto es muy largo */
    font-size: 16px;
}

/* Estilos de la imagen en la tarjeta */
.card-image img {
    width: 100%;
    height: 200px; /* Limita la altura de la imagen */
    object-fit: cover;
}

/* Estilo para el contenido de la tarjeta */
.card-content {
    padding: 10px;
    flex-grow: 1; /* Asegura que el contenido crezca para ocupar el espacio disponible */
    display: flex;
    flex-direction: column;
}

/* Ajustes para el botón de agregar al carrito */
.card-reveal .btn-carrito {
    margin-top: auto; /* Asegura que el botón de "Agregar al carrito" quede al final de la tarjeta */
}

/* Pestañas para productos y otras opciones */
.tabs {
    margin-top: 15px;
    margin-top: 55px; /* Ajusta este valor para reducir el espacio hacia arriba */
}

/* Botones */
.btn-carrito {
    background-color: #d8850f; /* Cambia el color de fondo según tus necesidades */
    color: white; /* Cambia el color del texto según tus necesidades */
}

.btn-carrito:hover {
    background-color: #d8850f; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}


/* Responsividad para pantallas pequeñas (p.ej. móviles) */
@media only screen and (max-width: 600px) {
    .card {
        height: 350px; /* Ajuste de altura en móviles */
        width: 100%;
    }

    .container {
        margin-top: 50px; /* Ajusta la separación en móviles */
    }

    .right {
        display: none;
    }
}
