<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="css" href="../carrito/carrito.component.css">
    <link rel="stylesheet" src="../../../assets/materialize-css/dist/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h2 class="center">Carrito de compras</h2>
        <table class="default" *ngIf="carrito !== undefined">
            <tr>
                <th>Nombre producto</th>
                <th>Cantidad</th>
                <th>Estado del carrito</th>
                <th>Total</th>
            </tr>
            <tr *ngFor="let carrito of carritos">
                <td>{{ carrito.nombre }}</td>
                <td>{{ carrito.cantidad }}</td>
                <td>{{ carrito.estado_carrito }}</td>
                <td>{{ carrito.precio_total }}</td>
            </tr>
        </table>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>