<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="../login/login.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row heading">
      <div class="col s12 center-align">
        <h4>Iniciar Sesión</h4>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 offset-m3 login-container">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input type="email" [(ngModel)]="usuario.correo_us" name="correo" placeholder="Correo">
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">security</i>
              <input type="password" [(ngModel)]="usuario.contrasena_us" name="contraseña" placeholder="Contraseña">
            </div>
          </div>

          <div class="row">
            <div class="col s12 center-align">
              <a (click)="logueo()" class="waves-effect waves-light btn-login">
                <i class="material-icons left">send</i>Iniciar sesión
              </a>
              <button (click)="Registrarse()" class="btn-register waves-effect waves-light modal-trigger">
                Registrarse
                <i class="material-icons left">edit</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Modal INGRESO USUARIO -->
    <div id="modalIngreso" class="modal">
      <div class="modal-content">
        <h4>Nuevo Usuario</h4>
        <div class="row">
          <div class="input-field col s12">
            <label>Nombre usuario </label>
            <input [(ngModel)]="usuario.nombre_us" type="text" class="validate">
          </div>
          <div class="input-field col s12">
            <label>Correo </label>
            <input [(ngModel)]="usuario.correo_us" type="text" class="validate">
          </div>
          <div class="input-field col s6">
            <label>Contraseña </label>
            <input [(ngModel)]="usuario.contrasena_us" type="text" class="validate">
          </div>
        </div>
        <div class="row">
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-close btn-flat">Cancelar</a>
        <button (click)="GuardarDatos()" class="btn waves-effect waves-light">Guardar Datos</button>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>